// restoring back all the resets to default for markdown preview field

#preview {
    line-height: 1.4;

    *,
    *::before,
    *::after {
        margin: auto;
        padding: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding-bottom: .5em;
    }

    h1:not(h1:first-child),
    h2:not(h2:first-child),
    h3:not(h3:first-child),
    h4:not(h4:first-child),
    h5:not(h5:first-child),
    h6:not(h6:first-child) {
        padding-top: 1em;
    }

    ul,
    ol {
        list-style: auto;
        padding-left: 1em;
        padding-top: .3em;
    }

    a {
        text-decoration: auto;
    }

    img,
    picture {
        max-width: 100%;
        display: block;
    }

    pre {
        white-space: pre-wrap;
        padding: 1em 0;
        padding-left: 1em;
    }

    address {
        font-style: auto;
    }
}