@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  font-family: $font-stack;
}

.header {
  .menu-btn::after {
    font-size: 1.2rem;
    letter-spacing: 3;
    text-transform: uppercase;
  }

  .doc-info {
    >span {
      text-transform: capitalize;
      font-size: .8em;
    }
  }

  .remove-btn {
    font-size: .7rem;
  }
}

.menu {
  >div {
    p {
      #saved-num {
        font-size: .8rem;
      }

      i {
        color: black;
        font-size: 1.2rem;
      }
    }
  }
}

@include media-lg {
  .header {
    .save-btn::after {
      text-transform: capitalize;
      font-size: .9em;
    }
  }

  .document-container {
    .document {
      .fa-file {
        font-size: 1.2rem;
      }
    }
  }
}